<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91820411138-ae02lafkjd2nqkajfgq6bfgt48mutc0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91820411138-ae02lafkjd2nqkajfgq6bfgt48mutc0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91820411138-a8eqbgqi4hsfuiqcekqbcoh1ue8rd5mu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPJd10gXXBbkkttEGo9NWaqugX1uDGa-E</string>
	<key>GCM_SENDER_ID</key>
	<string>91820411138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>magical-bits</string>
	<key>STORAGE_BUCKET</key>
	<string>magical-bits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91820411138:ios:5425cf183e3cc16a675a1b</string>
	<key>DATABASE_URL</key>
	<string>https://magical-bits.firebaseio.com</string>
</dict>
</plist>